<div id="shopify-block-6143736321357441667" class="shopify-block shopify-app-block">
    <script data-src="//code.tidio.co/jna8tovguuecb2uka56dsp2jrers2wlj.js?extensionVersion=1.1.0" type="lazyload_int"></script>
</div>
<div id="shopify-block-13027630495364635475" class="shopify-block shopify-app-block">
   
    {% comment %}
    <script type="lazyload_int" id="la-dn-script-startup-context">
        window.discountNinjaContext = {
            Version: "4.8.28",
            DesignMode: "{{ request.design_mode }}",
            Shop: "{{ shop.permanent_domain }}",
            Country: {
                ISOCode: "IN",
                Name: "India"
            },
            RootRoute: "{{ routes.root_url }}",
            CartRoute: "{{ routes.cart_url }}",
            ShopCurrency: "{{ shop.currency }}",
            PresentmentCurrency: "{{ cart.currency.iso_code }}",
            PresentmentCurrencyMoney: "Rs. 6,789.12",
            MoneyFormat: "{{shop.money_format | replace: '"', "'"}}",
            Customer: null,
            Cart: {{ cart | json }},
            Product: null,
            CollectionProducts: [],
            CartProducts: [],
            ProductVariants: null,
            Status: {% include 'limoniapps-discountninja-context-status' %},
            Signature: {% include 'limoniapps-discountninja-context-signature' %},
            Settings: {% include 'limoniapps-discountninja-context-settings' %},
            Locale: "{{ request.locale.iso_code }}",
            Labels: {
                From: "{{ 'discount_ninja.from' | t | replace: '"', "'" }}",
                Here: "{{ 'discount_ninja.here' | t | replace: '"', "'" }}",
                Free: "{{ 'discount_ninja.free' | t | replace: '"', "'" }}",
                SoldOut: "{{ 'discount_ninja.sold_out' | t | replace: '"', "'" }}"
            },
            Flags: {% include 'limoniapps-discountninja-context-flags' %},
            Promotions: {},
        };
        window.discountNinjaContext.CartProducts.push({
                    Id:8246607872233,
                    Handle: 'rama-blue-color-pure-bishnupur-silk-saree-with-hand-batik-and-hand-paint-work-allover',
                    Price:1257434,
                    CompareAtPrice:1257434,
                    Collections:"bishnupur-silk-saree,blue-sarees,casual-wear,from-the-east,festival-collection,hand-painted-sarees,buy-silk-mark-certified-saree,pure-silk-sarees,shopify-facebook-feed-saree,silk-mark,under-150-usd,under-200-usd,under-300-usd,under-400-usd,under-500-usd",
                    CollectionIds: "33114914904,426178937065,413280731369,426179526889,65072332888,419999154409,287060419,418415870185,60893429848,406244494,420087857385,420087890153,420087922921,420088021225,420088119529",
                    Tags:"$100-$150, Bishnupur Silk, Casual, feed-agegroup-adult, feed-color-multi, feed-cond-new, feed-gender-women, feed-size-universal, Festival, hand batik, Hand Paint, Hand-Woven, handloom, India, Katan Silk, New, silk, Silk Mark, syncio-hidden",
                    Available:true,
                    Source: "context",
                    CollectionsComplete: true,
                    Variants: [{
                        VariantId:46001502159081,
                        Price:1257434,
                        CompareAtPrice:1257434,
                        Inventory:1,
                        Available:true,
                        IsSubscriptionProduct:false},{
                        VariantId:46001502191849,
                        Price:1468413,
                        CompareAtPrice:1552805,
                        Inventory:1,
                        Available:true,
                        IsSubscriptionProduct:false}]
        });
        document.dispatchEvent(new CustomEvent("la:dn:context:available"));
    </script>
    {% endcomment %}
    <!-- END app snippet -->
</div>